<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>
<body>
<style>
    @charset 'utf-8';
    @import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600');
</style>
<div style="background-color:#f9f9f9;padding:0 0 40px;">
    <table cellpadding="0" cellspacing="0" border="0" aling="center"
           style="font-family:'Open Sans',sans-serif;font-size:14px;line-height:1.4;width:100%">
        <tbody>

        <tr>
            <td style="font-size:1px;line-height:1px;" height="45px"></td>
        </tr>
        <tr>
            <td style="text-align:center;">
                <a href="https://cactusprepaid.com"><img src="https://cactusprepaid.com/logo.png"
                                                       alt="Cactus Logo" title="Cactus Logo" style="width:145px;"/></a>
            </td>
        </tr>
        <tr>
            <td>
                <table cellpadding="0" cellspacing="0" border="0">
                    <tr>
                        <td style="font-size:1px;line-height:1px" height="20px"></td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td>
                <table cellpadding="0" cellspacing="0" border="0" align="center" style="width:100%;max-width:530px;">
                    <tbody>
                    <tr>
                        <td>
                            <table cellpadding="0" cellspacing="0" border="0" style="width:100%;background-color:#fff;">
                                <tbody>
                                <tr>
                                    <td style="font-size:1px;line-height:1px;" height="35px" colspan="3"></td>
                                </tr>
                                <tr>
                                    <td style="width:35px;"></td>
                                    <td>
                                        <table cellpadding="0" cellspacing="0" border="0" width="100%">
                                            <tbody>

                                            {% block body %}{% endblock %}


                                            <tr>
                                                <td style="color:rgba(0,0,0,.87);font-family:'Open Sans', sans-serif;font-size:13px;font-weight:lighter;padding-top:15px;padding-bottom:15px;">
                                                    In case you have any questions, don't hesitate to contact
                                                    contact us at <a href="mailto:info@cactusprepaid.com"
                                                                               style="color:#532a97;font-style:italic;text-decoration:none;">info@cactusprepaid.com</a>
{#                                                    / +57 (321) 499 3642#}
                                                </td>
                                            </tr>
                                            <tr>
                                                <td style="color:#a1a4aa;font-family:'Open Sans',sans-serif;font-size:13px;padding-bottom:25px">
                                                    &iexcl;See you soon!<br/>
                                                    <span style="font-weight:bold;color:#532a97">Cactus Prepaid Team</span><br/>
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </td>
                                    <td style="width:35px;"></td>
                                </tr>
                                <tr>
                                    <td style="font-size:1px;line-height:1px;" height="5px" colspan="3"></td>
                                </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </td>
        </tr>
        <tr>
            <table align="center" cellpadding="0" cellspacing="0" border="0"
                   style="background-color:#f0f0f0;width:100%;max-width:530px;margin-top:10px;">
                <tbody>
                <tr>
                    <td colspan="3" style="font-size:1px;line-height:1px;" height="20px"></td>
                </tr>
                <tr>
                    <td style="width:35px;"></td>
                    <td><img src="https://cactusprepaid.com/logo.png" alt="Cactus Logo"
                             title="Cactus Logo" style="width:105px;"/></td>
                    <td style="width:35px;"></td>
                </tr>
                <tr>
                    <td style="width:35px;padding-bottom:7px;"></td>
                    <td style="color:#707070;font-family:'Open Sans',sans-serif;font-size:11px;padding-bottom:7px;">This email was sent from cactusprepaid.com
                    </td>
                    <td style="width:35px;padding-bottom:7px;"></td>
                </tr>
                <tr>
                    <td style="width:35px;"></td>
                    <td style="color:#532a97;font-family:'Open Sans',sans-serif;font-size:11px;">
                         <a href="mailto:info@cactusprepaid.com" style="color:#532a97;">info@cactusprepaid.com</a>
                        | <a style="color:#532a97;" href="www.cactusprepaid.com" target="_blank">www.cactusprepaid.com</a>
                    </td>
                    <td style="width:35px;"></td>
                </tr>
{#                <tr>#}
{#                    <td style="width:35px;"></td>#}
{#                    <td style="padding-top:15px;vertical-align:middle;">#}
{#                        <a href="" target="_blank"#}
{#                           style="display:inline-block;text-decoration:none;">#}
{#                            <img src="" width="16" height="16"#}
{#                                 alt="" title="Facebook"/>#}
{#                        </a>#}
{#                    </td>#}
{#                    <td style="width:35px;"></td>#}
{#                </tr>#}
                <tr>
                    <td colspan="3" style="font-size:1px;line-height:1px;" height="20px"></td>
                </tr>
                </tbody>
            </table>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>
