{% extends 'base.html.twig' %}
{% block body %}
    <tr>
        <td style="padding: 30px 70px; line-height: 20px;">
            <p style="color: #7367f0; font-size: 15px; text-align: left; font-weight: bold; line-height: 10px;">Hola Cactus Team </p>

            <span  style="color: #959595;font-size: 11px; text-align: left">

                    </span>
        </td>
    </tr>
    <tr>

        <td style="line-height: 20px;">
            <p style="color: black;font-size: 15px; text-align: left; font-weight: bold; line-height: 10px;"> Tenemos un nuevo pedido de tarjeta en cactusprepaid.com</p>
            <span style="color: black;font-size: 13px; text-align: left; line-height: 10px;">Estos son los datos: </span><br>
            <span style="color: black;font-size: 13px; text-align: left; line-height: 10px;">Tipo de Tarjeta: {{ data.cardType }}</span><br>
            <p>Datos personales <br>
            <span style="color: black;font-size: 13px; text-align: left; line-height: 10px;">Nombre: {{ data.firstName }}</span><br>
            <span style="color: black;font-size: 13px; text-align: left; line-height: 10px;">Apellido Materno: {{ data.lastNameMother }}</span><br>
            <span style="color: black;font-size: 13px; text-align: left; line-height: 10px;">Apellido Paterno: {{ data.lastNameFather }}</span><br>
            <span style="color: black;font-size: 13px; text-align: left; line-height: 10px;">Email: {{ data.email }}</span><br>
            <span style="color: black;font-size: 13px; text-align: left; line-height: 10px;">Pasaport: {{ data.documentNumber }}</span><br>
            <span style="color: black;font-size: 13px; text-align: left; line-height: 10px;">Nacimiento: {{ data.birthDate|date('Y-m-d') }}</span><br>
            <span style="color: black;font-size: 13px; text-align: left; line-height: 10px;">Genero: {{ data.gender }}</span><br>
            </p>

            <p>Residencia <br>
            <span style="color: black;font-size: 13px; text-align: left; line-height: 10px;">Direccion: {{ data.address.address }}</span><br>
            <span style="color: black;font-size: 13px; text-align: left; line-height: 10px;">Pais: {{ data.address.country? data.address.country.name : '' }}</span><br>
            <span style="color: black;font-size: 13px; text-align: left; line-height: 10px;">Pais Nacimiento: {{ data.address.bornCountry? data.address.bornCountry.name : '' }}</span><br>
            <span style="color: black;font-size: 13px; text-align: left; line-height: 10px;">Estado: {{data.address.state?  data.address.state.name : '' }}</span><br>
            <span style="color: black;font-size: 13px; text-align: left; line-height: 10px;">Ciudad: {{ data.address.town }}</span><br>
            <span style="color: black;font-size: 13px; text-align: left; line-height: 10px;">Ciudad de Nacimiento: {{ data.address.bornCity }}</span><br>
            <span style="color: black;font-size: 13px; text-align: left; line-height: 10px;">Codigo Postal: {{ data.address.postalCode }}</span><br>
            <span style="color: black;font-size: 13px; text-align: left; line-height: 10px;">Codigo Telefono: {{ data.address.phoneCode }}</span><br>
            <span style="color: black;font-size: 13px; text-align: left; line-height: 10px;">Numero Telefono: {{ data.address.phoneNumber }}</span><br>
            </p>
            <p>Direccion de Entrega <br>
                <span style="color: black;font-size: 13px; text-align: left; line-height: 10px;">Direccion: {{ data.shippingAddress.address }}</span><br>
                <span style="color: black;font-size: 13px; text-align: left; line-height: 10px;">Pais: {{ data.shippingAddress.country? data.shippingAddress.country.name : '' }}</span><br>
                <span style="color: black;font-size: 13px; text-align: left; line-height: 10px;">Estado: {{ data.shippingAddress.state? data.shippingAddress.state.name : '' }}</span><br>
                <span style="color: black;font-size: 13px; text-align: left; line-height: 10px;">Ciudad: {{ data.shippingAddress.town }}</span><br>
                <span style="color: black;font-size: 13px; text-align: left; line-height: 10px;">Codigo Postal: {{ data.shippingAddress.postalCode }}</span><br>
                <span style="color: black;font-size: 13px; text-align: left; line-height: 10px;">Codigo Telefono: {{ data.shippingAddress.phoneCode }}</span><br>
                <span style="color: black;font-size: 13px; text-align: left; line-height: 10px;">Numero Telefono: {{ data.shippingAddress.phoneNumber }}</span><br>

            </p>
        </td>
    </tr>

{% endblock %}
