{% extends 'base.html.twig' %}
{% block body %}
    <tr>
        <td style="padding: 30px 70px; line-height: 20px;">
            <p style="color: #7367f0; font-size: 15px; text-align: left; font-weight: bold; line-height: 10px;">Hello {{user.firstName}}, </p>

            <span  style="color: #959595;font-size: 11px; text-align: left">

                    </span>
        </td>
    </tr>
    <tr>
        <td style="padding: 30px 70px; line-height: 20px;">
            <p style="color: black;font-size: 15px; text-align: left; font-weight: bold; line-height: 10px;"> Thanks for your request!</p>
            <span style="color: black;font-size: 13px; text-align: left; line-height: 10px;"> We are processing your request. </span><br>

        </td>
    </tr>

{% endblock %}
