{% extends 'base.html.twig' %}
{% block body %}
    <tr>
        <td style="padding: 30px 70px; line-height: 20px;">
            <p style="color: #7367f0; font-size: 15px; text-align: left; font-weight: bold; line-height: 10px;">Hola {{user.email}}, </p>

            <span  style="color: #959595;font-size: 11px; text-align: left">

                    </span>
        </td>
    </tr>

    <tr>
        <td style="padding: 30px 70px; line-height: 20px;">
            <p style="color: black;font-size: 15px; text-align: left; font-weight: bold; line-height: 10px;"> Gracias por registrarte!</p>
            <span style="color: black;font-size: 13px; text-align: left; line-height: 10px;"> Hace clic en el botón y comenzá a utilizar nuestros servicios. </span><br>


            <p class="western" style="text-align:center;">
                <a href="{{ urlWeb }}pages/confirm/{{ user.confirmationToken }}"
                   style="color: #7367f0 !important; padding: 11px 30px 10px 30px; border-radius: 20px; border: 1px solid #7367f0;
font-size: 12px; text-decoration:none !important;">CONFIRMAR MI EMAIL</a>
            </p>

        </td>
    </tr>

{% endblock %}
