<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <link href="https://fonts.googleapis.com/css?family=Poppins" rel="stylesheet">
    <link rel="icon" href="{{ app.request.getSchemeAndHttpHost() ~  asset('images/cactus-big-logo.png') }}" type="image/x-icon">
    <style>
        html, body {
            background: #eeeeee !important;
            font-family: 'Poppins', sans-serif !important;
        }

        td {
            background: #ffffff;
        }
    </style>
</head>
<body style="background: #eeeeee !important;">
<div class="container" style="margin: auto;">
    <table width="600" cellpadding="30" cellspacing="0" style="border: none; margin: auto;  padding: 10px;">
        <tr>
            <td style="background-color: #00C853; -webkit-border-radius: 35px 35px 0 0; -moz-border-radius: 35px 35px 0 0; border-radius: 35px 35px 0 0;border: 0px none #00C853;
             border: 0px none #00C853;width: 50%;">
                <img src="{{ app.request.getSchemeAndHttpHost() ~  asset('images/cactus-big-logo.png') }}"
                     style="display: block;margin-left: auto;margin-right: auto;width: 20%;"/>
{#                <span  style="display: block;margin-left: auto;margin-right: auto;width: 100px;"> Pago Linea </span>#}
            </td>
        </tr>


        {% block body %}{% endblock %}


        <tr>
            <td style="color: white;font-size: 11px; text-align: center; -webkit-border-radius: 0 0 35px 35px; -moz-border-radius: 0 0 35px 35px; border-radius: 0 0 35px 35px;border: 0px none #00C853;width: 50%;height: 200px;background:#00C853;">
               <p class="text" style="color: white;font-size: 10px; text-align: center">In case you have any questions, don't hesitate to contact
                   contact us at <span
                            style="text-decoration:none !important; text-decoration:none; font-weight: bold; color: #ffffff !important;"> <a
                                style="font-weight: bold; color: #ffffff !important; text-decoration: none;"
                                href="mailto:info@cactusprepaid.com">info@cactusprepaid.com | </a><a
                                style="font-weight: bold; color: #ffffff !important; text-decoration: none;"
                                href="https://www.cactusprepaid.com">cactusprepaid.com</a></span>
                </p>
                <p style="padding-left: 10%;padding-top: 5%;font-size: 12px; text-align: left;">

                    <span href="https://www.cactusprepaid.com"
                          style="color: white !important;text-align: right !important;padding-left: 50%;font-size: 10px;">© 2020 Cactus Prepaid</span>
                </p>
            </td>
        </tr>
        <tr>
            <td style="background-color: #eeeeee;">

            </td>
        </tr>
    </table>
</div>


</body>
</html>
